<template name="popview">
    <div id="popContainer" class="row">
        <div class="col-md-12" id="popCanvasContainer">
            <div class="col-md-4" id="popCanvasContainer0">
                <canvas class="popHeatmap" id="heatmap0"></canvas>
                <svg class="popSvg" id="popSvg0"></svg>
            </div>
            <div class="col-md-4" id="popCanvasContainer1">
                <canvas class="popHeatmap" id="heatmap1"></canvas>
                <svg class="popSvg" id="popSvg1"></svg>
            </div>
            <div class="col-md-4" id="popCanvasContainer2">
                <canvas class="popHeatmap" id="heatmap2"></canvas>
                <svg class="popSvg" id="popSvg2"></svg>
            </div>
        </div>
    </div>
</template>
