<template name="polygon">
	<h4>Polygon circle chart - <small><a href="#">View Original</a></small></h4>

	<div class="btn-group" role="group" aria-label="value">
		<label>Number of edges: <input type=number min=2 value=5 id="edgeInput"/></label>
		<br>
		<P>This diagram shows one cooccurrence represented by finit state machine. The gradient color encodes either activeness or seniority of the user</P>
	</div>

	<div>
	    <svg id="polygonCircle">
	    </svg>
	</div>
    
</template>